@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
    --main-font: 'Nerko One';
    --sky-400: #38bdf8;
    --sky-300: #7dd3fc;
    --sky-200: #bae6fd;
    --orange-300: #fdba74;
    --orange-200: #fed7aa;
    --orange-100: #ffedd5;
    --sky-50: #f0f9ff;
    --orange-50: #fff7ed;
    --grey-600: #4b5563;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: var(--main-font);
    background-color: var(--sky-50);
}

header{
    z-index: 1;
    height: 10vh;
    background-color: var(--sky-400);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 2px -2px gray;
}

.hamburger-menu{
    position: absolute;
    left: 0.5rem;
    cursor: pointer;
}

.main-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1{
    margin: 0;
    display: inline;
    color: var(--sky-50);
    align-content: center;
    font-size: 4rem;
}

.orange-300 {
    color: var(--orange-300);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /*Stay in place*/
    left: 0;
    background-color: var(--sky-300); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2.5rem; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    white-space: nowrap;
    box-shadow: 3px 0 2px -2px gray;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
    min-height: 4vh;
}

.project:hover, .project.active {
    background-color: var(--sky-200);
}

.project .project-color {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
}

h3.name {
    color: var(--orange-100);
    font-size: 1.5rem;
    margin: 0.2rem 0;
    width: 8rem;
    white-space: initial;
}

.edit-delete-span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    right: 1rem; 
    gap: 0.5rem;
}

.edit, .delete{
    fill: #f87171;
    cursor: pointer;
}

.edit:hover, .delete:hover {
    transform: scale(1.1) rotate(360deg);
    transition-duration: 0.7s;
}

.main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 0 2rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--orange-50);
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3%;
    width: 30vw; /* Could be more or less, depending on screen size */
    color: var(--sky-400);
}

.modal-heading {
    color:  var(--orange-300);
    font-size: 2.3rem;
    margin: 0.5rem 0;
    text-align: center;
}

.create-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

label, .color-heading, .priority-heading{
    font-size: 1.5rem;
}

label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.priorities {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.form-input {
    border: 1px solid var(--sky-300);
    border-radius: 10%;
    background-color: var(--sky-50);
    height: 1.5rem;
    color: var(--sky-400);
    font-family: 'Nerko One';
    font-size: 1.2rem;
}

#task-description{
    width: 20rem;
    height: 4rem;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

::placeholder {
    color: var(--sky-300)
}

.error-msg{
    display: none;
    font-size: 0.7rem;
    color: #f87171;
    font-family: 'Courier New';
    text-align:justify;
    margin-top: 0.2rem;
}


.project-color-picker {
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.form-input:focus-visible {
    outline: none;
    border: 1px solid var(--sky-400);
}

input[name="color"], input[name="priority"] {
    display: none;
}

.priority-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--sky-200);
}

.button {
    display: inline-block;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.button:hover{
    transform: scale(1.1);
    border: 0.2rem solid var(--sky-300);
}

.priority-button:hover, input[name="priority"]:checked ~ .priority-button {
    transform: scale(1.2);
    background-color: var(--sky-300);
}

input:checked ~ .button {
    border: 0.2rem solid var(--sky-300);
}


.black .button {
    background-color: #000000;
}

.red .button {
    background-color: #dc2626;
}

.yellow .button {
    background-color: #fbbf24;
}

.green .button {
    background-color: #84cc16;
}

.blue .button {
    background-color: #0e7490;
}

.pink .button {
    background-color: #f43f5e;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
}

.cancel-button:hover {
    cursor: pointer;
    fill: #dc2626;
}

.confirm-button:hover {
    cursor: pointer;
    fill: #16a34a;
}

.filters, .projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-tab{
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-left: 1.5rem;
    cursor: pointer;
}


.tasks-heading {
    color: var(--orange-200);
    font-size: 2rem;
}

.task-tab:hover, .task-tab.selected{
    border-bottom: 0.25rem solid var(--sky-200);
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-radius: 3rem;
}

.project-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem;
    height: 7vh;
}

.project-title {
    display: inline;
    color: var(--orange-200);
    font-size: 2rem;
}

.add-project:hover{
    transform: scale(1.2) rotate(90deg);
    transition-duration: 0.5s;
    cursor: pointer;
}

.tasks.none {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 3.5rem;
    text-align: center;
    color: #d6d3d1;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}

.main-heading {
    display: flex;
    justify-content: space-between;
}

.filter-heading {
    margin: 0;
    font-size: 5rem;
    color: var(--sky-400);
    font-weight: 100;
}

.add-task {
    fill: var(--orange-300);
    cursor: pointer;
}

.add-task:hover {
    transform: scale(1.2) rotate(180deg);
    fill: var(--sky-300);
    transition-duration: 0.5s;
}

.task {
    cursor: pointer;
    color: var(--sky-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16rem;
    height: 7rem;
    border-radius: 10%;
    background-color: var(--sky-200);
    padding: 0.75rem;
    box-shadow: 3px 3px 1px -1px gray;
}

.task-heading {
    color: var(--sky-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--sky-400);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--sky-400);
    border-radius: 1rem;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--sky-400);
    border-radius: 1rem;
}

input[type="checkbox"]:checked::before {
    transform: scale(1.1);
}

h3.title {
    margin: 0;
    font-size: 1.5rem;
}

.task-dueDateSpan {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.5rem;
}

.task-descriptionSpan, .task-projectSpan {
    padding-left: 0.5rem;
    display: none;
    font-size: 1.5rem;
}

.task-footer {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.task-edit, .task-delete{
    position: relative;
    fill: var(--sky-400);
    cursor: pointer;
}

.task-edit:hover, .task-delete:hover {
    transform: scale(1.1) rotate(360deg);
    transition-duration: 0.7s;
}

.task.completed .title {
    color: var(--grey-600);
    text-decoration-line: line-through;
    text-decoration-thickness: 0.2rem;
}

.task.completed input[type="checkbox"]{
    color: var(--grey-600);
    border: 0.15em solid var(--grey-600);
}

.task.completed input[type="checkbox"]::before {
    box-shadow: inset 1rem 1rem var(--grey-600);
}

.task.completed {
    color: #9ca3af;
    background-color: #d1d5db;
}

.task.completed img {
    display: none;
}

.task.completed .task-edit, .task.completed .task-delete {
    fill: var(--grey-600);
}

.task.completed.expand .task-dueDateSpan{
    color: var(--grey-600);
}

.task.expand{
    width: 25rem;
    height: 13rem;
}

.task.expand .task-dueDateSpan{
    color: var(--sky-400);
}

.task.expand  .task-descriptionSpan, .task.expand .task-projectSpan{
    display: flex;
    overflow-wrap: break-all;
}